.suggestion {
    max-width: 80%;
    margin-left: auto;
    margin-right:auto;
}

.suggestion-panel {
    border:none;
}

.suggestion-body {
    min-height: 200px;
    background-color:rgb(241,241,241);
}

.suggestion-title {
    text-align: center;
    padding: 0;
    margin: 0;
}

.suggestion-inner-content {
    display:inline-block;
}

.suggestion-what {
    display: inline-block;
    font-size: 16px;
}

.suggestion-info-list {
    text-align:left;
}

.suggestion-info-list-item {
    margin-top:10px;
}
