<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">

<html>
	<head>
		<title>Entradas.com</title>

	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <!-- Bootstrap Core CSS -->
	    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

	    <!-- Custom CSS -->
	    <link href="{{ url_for('static', filename='css/custom/footer.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom/navbar.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom/sticky-footer.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom/event.css') }}" rel="stylesheet">




	    <!-- Custom Fonts -->
	    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->

	    <!-- jQuery -->
	    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

	    <!-- Bootstrap Core JavaScript -->
	    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</head>
	<body>
        
        <!-- Navigation -->
        <nav id="navbar-top" class="navbar navbar-default navbar-static-top main-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('main.index')}}">
                        <img class="brand-logo img-responsive" alt="Brand" src="{{ url_for('static', filename='img/entradascomlogo.png') }}">
                    </a>
                    <a href="{{ url_for('auth.signup') }}" style="color:black">
                    <button type="button" class="navbar-toggle btn btn-yellow navbar-btn last-navbar-item login-option mobile">
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                    </a>
                    <button type="button" class="navbar-toggle btn btn-yellow navbar-btn last-navbar-item logged sign-out mobile">
                        <span class="glyphicon glyphicon-off">
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">

                    <!-- Sign up/in button -->

                    <li>
                        <!-- Trigger the modal with a button -->

                        <button type="button" class="btn btn-yellow navbar-btn last-navbar-item login-option desktop">
                            <a style="text-decoration:none;color:black" href="{{ url_for('auth.signup') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Entrar</a>
                        </button>

                    </li>

                    <!-- Exit button -->

                   <li><p class="navbar-text navbar-right navbar-item logged desktop" style="color: white">¡Hola, <a id="user-name-link" href="#" class="navbar-link" style="color: white"></a>!</p></li>
                    <li>
                        <button type="button" class="btn btn-yellow navbar-btn last-navbar-item logged sign-out desktop">
                            <span class="glyphicon glyphicon-off"></span>Salir
                        </button>
                    </li>
                </ul>

            </div>
        </nav>
               
        <!--Youtube video frame (IMPORTANT: CHECK YTB API TO EVENTUALLY SHOW/HIDE NAVBAR ON PAUSE/PLAY-->
        <!--https://developers.google.com/youtube/js_api_reference?csw=1#Requirements-->
        <div>
            <div id="player"></div>
        </div>   
            
        <!--Container for stuff below video-->
        <div class="container">
            
            <!--TITULO + DURACION + EDAD-->
            <h1>The revenant </h1>
            <h4>
                <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>156 min.
                <i style="margin-left:50px"class="fa fa-ticket fa-fw" aria-hidden="true"></i>Aventura
                <i style="margin-left:50px"class="fa fa-birthday-cake fa-fw" aria-hidden="true"></i>16+
            </h4>
            <hr>
            <a id="purchase-button" class="col-xs-12" data-scroll href="#buy-pls">Comprar entradas</a>
            <h2>Información</h2>
            <hr>
            
            <!--SINOPSIS-->
            <h3>Sinopsis</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis est ultrices, pretium ligula sit amet, varius dolor. Nulla eget erat vel ipsum fermentum sodales sit amet non dolor. Cras sed eleifend nisi, in sollicitudin leo. Pellentesque a egestas arcu, non elementum purus. Nunc at tempus arcu. Mauris lobortis mattis justo, in elementum quam lacinia ut. In ut velit faucibus, gravida libero sed, tempor ante. Integer imperdiet nisi in semper viverra. Praesent faucibus nisi sed sem cursus ultrices. In hac habitasse platea dictumst.</p>
            
            <!--INFO PELICULA-->
            <h3>Ficha técnica</h3>
            <div style="display:inline-block">
                <strong>Género:</strong><br>
                <strong>Director:</strong><br>
                <strong>Duración:</strong><br>
                <strong>País:</strong><br>
                <strong>Fecha de estreno:</strong><br>
                <strong>Reparto:</strong><br>
            </div>
            <div style="display:inline-block">
                genero<br>
                director<br>
                duracion<br>
                pais<br>
                estreno</strong><br>
                reparto<br>
            </div>
            
            <!--LINKS CINES; COMPRA DE ENTRADAS-->
            <h2 id="buy-pls">Comprar entradas</h2>
            <hr>
            <h5>Seleccione un cine:</h5>
            <div class="list-group">
                
            <!-- iterar cines desde aqui, por links -->
              <a href="#" class="list-group-item">
                <div style="display:inline-block">
                  <h4 class="list-group-item-heading">Cinesco Tres Aguas</h4>
                  <p class="list-group-item-text">C/Arroyomolinos, 15, Alcorcón</p>
                </div>
                <div class="cinema-price"><i class="fa fa-money fa-sm fa-fw"></i>&nbsp; 7,60€</div>
              </a>
            <!-- fin iteracion -->
                
            <!--placeholder shit-->
              <a href="#" class="list-group-item">
                <div style="display:inline-block">
                  <h4 class="list-group-item-heading">CineBarrel La Matraz</h4>
                  <p class="list-group-item-text">Avda. Jaime Fallón, Alcorcón</p>
                </div>
                <div class="cinema-price"><i class="fa fa-money fa-sm fa-fw"></i>&nbsp; 9,20€</div>
              </a>
                
              <a href="#" class="list-group-item">
                <div style="display:inline-block">
                  <h4 class="list-group-item-heading">Kinepolia Center</h4>
                  <p class="list-group-item-text">Edificio Drumpft, Madrid</p>
                </div>
                <div class="cinema-price"><i class="fa fa-money fa-sm fa-fw"></i>&nbsp; 9,60€</div>
              </a>
                
              <a href="#" class="list-group-item">
                <div style="display:inline-block">
                  <h4 class="list-group-item-heading">Adarga Cines</h4>
                  <p class="list-group-item-text">C.C. Parquesur, Leganés</p>
                </div>
                <div class="cinema-price"><i class="fa fa-money fa-sm fa-fw"></i>&nbsp; 8,30€</div>
              </a>
                
                
            </div>
            
            <!-- paginacion -->
            <nav style="text-align:center; display:block; margin-top:10px">
              <ul class="pagination pagination-lg">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="disabled"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
            
            
        </div>
        
        
        <!-- Footer -->
        <footer class="footer"> 
            <div class="row row-mod" align="center">
                <div class="col-lg-4" style="margin-top:0px">
                <a href="#"><img style="width:150px; padding-bottom:10px" src="{{ url_for('static', filename='img/entradascomlogo.png') }}"> </a>
              </div>
              <div class="col-lg-4" style="margin-top:10px; padding-bottom:10px">
                <div style="display:inline-block; padding-left:10px; padding-right:10px; vertical-align:middle">
                  <a href="#" style="color:black"> <i class="fa fa-facebook-square fa-3x"></i></a>
                </div>
                <div style="display:inline-block; padding-left:10px; padding-right:10px; vertical-align:middle">
                    <a href="#" style="color:black"> <i class="fa fa-google-plus-square fa-3x"></i></a>
                </div>
                <div style="display:inline-block; padding-left:10px; padding-right:10px; vertical-align:middle">
                    <a href="#" style="color:black"> <i class="fa fa-twitter-square fa-3x"></i></a>
                </div>
              </div>
                <ul class='col-lg-4' style="list-style-type:none;margin:0;padding:0;">
                    <li class="footitem"><a href="#" style="color:black"> Condiciones de uso</a></li>
                    <li class="footitem"><a href="#" style="color:black"> Política de privacidad</a></li>
                </ul>
                <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> in Leganés</p>
            </div>
        </footer>
        
    <script src="{{ url_for('static', filename='js/login-signup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/entradas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/event-ytb-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/smooth-scroll.min.js') }}"></script>

    <!--exec bg carousel-->
    <script>$('.carousel').carousel();</script>
    <script>smoothScroll.init();</script>
        
	</body>
</html>
