/* Home Page Carousel */

#myCarousel {
    z-index: -3;
}

header.carousel {
    height: 82%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

@media(max-width:991px) {
    header.carousel {
        height: 50%;
    }
}

@media(max-width:767px) {
    header.carousel {
        height: 35%;
    }
}
