<!DOCTYPE html>
<html lang="es">

<html>
<head>
    <title>Entradas.com - {{ query }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- uikit CSS -->
    <link href="{{ url_for('static', filename='css/uikit/uikit.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/uikit/uk-flex.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/components/datepicker.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/components/autocomplete.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/components/slideshow.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/custom/global.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom/navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom/header-carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom/footer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom/shop.css') }}" rel="stylesheet">

</head>


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top main-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.index')}}">
                    <img class="brand-logo img-responsive" alt="Brand" src="{{ url_for('static', filename='img/entradascomlogo.png') }}">
                </a>
                <a href="{{ url_for('auth.signup') }}" style="color:black">
                <button type="button" class="navbar-toggle btn btn-yellow navbar-btn last-navbar-item login-option mobile">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
                </a>
                <button type="button" class="navbar-toggle btn btn-yellow navbar-btn last-navbar-item logged sign-out mobile">
                    <span class="glyphicon glyphicon-off">
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right">

                <!-- Sign up/in button -->

                <li>
                    <!-- Trigger the modal with a button -->

                    <button type="button" class="btn btn-yellow navbar-btn last-navbar-item login-option desktop">
                        <a style="text-decoration:none;color:black" href="{{ url_for('auth.signup') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Entrar</a>
                    </button>

                </li>

                <!-- Exit button -->

                <li><p class="navbar-text navbar-right navbar-item logged desktop" style="color: white">¡Hola, <a id="user-name-link" href="#" class="navbar-link" style="color: white"></a>!</p></li>
                <li>
                    <button type="button" class="btn btn-yellow navbar-btn last-navbar-item logged sign-out desktop">
                        <span class="glyphicon glyphicon-off"></span>Salir
                    </button>
                </li>
            </ul>

        </div>
    </nav>

    <!-- Header Carousel -->

    <div id="header-carousel">
        <ul class="uk-slideshow" data-uk-slideshow="{autoplay:true, animation: 'random-fx', kenburns:true}">
            <li><img src="https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=698b0decc7115d06b16801d7b8291c63" width="" height="" alt=""></li>
            <li><img src="http://cdn.paper4pc.com/images/entertainment-music-violin-musical-instrument-strings-wood-people-orchestra-wallpaper-1.jpg" width="" height="" alt=""></li>
            <li><img src="http://i.imgur.com/yny7x.jpg" width="" height="" alt=""></li>
        </ul>
    </div>

    <!-- Shop process -->

    <div id="purchase-container" class="container">
        <form id="purchase-form" action="{{ url_for('purchase.finish_purchase') }}" method="get">

            <!-- Session date -->

            <h1 style="margin-top:20px"><i class="fa fa-child fa-fw" aria-hidden="true"></i>Ya casi está!</h1>
            <h3>Complete su compra en tres pasos:</h3>
            <!-- Session date -->
            <h2>1. Selecciona tu sesión</h2>
            <hr>
            <h4>Elija la sesión en la que desee asistir:</h4>
            <div class="uk-form-controls">
                <input id="session-date" type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}" placeholder="¿Qué sesión quieres?" aria-describedby="basic-addon1">
            </div>
            <!-- Seats selection -->
            <h2 style="margin-top:1em">2. Selecciona tus butacas</h2>
            <hr>
            <h4>Elija la sección de butacas y posteriormente los asientos que desee:</h4>
            <fieldset>
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <ul id="seat-select" class="uk-grid uk-grid-medium" data-uk-grid-margin>
                        <li id="section-bl" onclick="selectSection(0);" class="seat-section available-section side-section uk-width-1-6"> </li>
                        <li id="section-bm" onclick="selectSection(1);" class="seat-section available-section mid-section uk-container-center uk-width-3-5">  </li>
                        <li id="section-br" onclick="selectSection(2);" class="seat-section side-section uk-width-1-6"> </li>
                        <li id="section-mm" onclick="selectSection(3);" class="seat-section available-section mid-section uk-container-center uk-width-3-5">  </li>
                        <li id="section-fm" onclick="selectSection(4);" class="seat-section mid-section uk-container-center uk-width-3-5">  </li>
                        <li id="screen" class="uk-width-medium-1-1">Pantalla/escenario
                        </li>
                    </ul>
                </div>
            </fieldset>

            <!-- Payment -->
            <h2>3. Confirmación y pago</h2>
            <hr>
            <h4>Revise su compra y seleccione una forma de pago:</h4>
            <div class="col-xs-12 list-group">
                <div id="shop-cart" class="list-group-item">
                    <h2>Titulo de evento</h2>
                    <h4>información adicional</h4>
                    <h3><strong>TOTAL:</strong></h3>
                </div>
                
            </div>
            <div class="col-xs-12 col-sm-8">
                <h2>Tarjeta de débito o crédito</h2>
                <hr>
                <div id="shop-mail-div" class="form-group has-feedback col-xs-12">
                    <label for="email">Email:</label>
                    <input name="email" type="email" class="form-control" id="shop-email" aria-describedby="inputSuccessStatus" required onchange="cardcheck(0, self)" placeholder="ej. mi@correo.com">
                    <span id="shop-mail-icon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccessStatus" class="sr-only">(success)</span>
                </div>
                <div id="shop-card-div" class="form-group has-feedback col-xs-12">
                    <label for="shop">Tarjeta de débito o crédito:</label>
                    <input name="card-number" type="text" class="form-control" id="shop-card" aria-describedby="inputSuccess1Status" required onchange="cardcheck(1, self)" placeholder="formato: XXXX XXXX XXXX XXXX">
                    <span id="shop-card-icon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccess1Status" class="sr-only">(success)</span>
                </div>
                <div id="shop-month-div" class="form-group has-feedback col-xs-4">
                    <label for="shop">Mes</label>
                    <input name="shop-month" min="1" max="12" type="text" class="form-control" id="shop-month" aria-describedby="inputSuccess2Status" required onchange="cardcheck(2, self)" placeholder="formato: mm">
                    <span id="shop-month-icon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                </div>
                <div id="shop-year-div" class="form-group has-feedback col-xs-5">
                    <label for="shop">Año</label>
                    <input name="shop-year" min="1900" max="2050" type="text" class="form-control" id="shop-year" aria-describedby="inputSuccess3Status" required onchange="cardcheck(3, self)" placeholder="formato: aaaa">
                    <span id="shop-year-icon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                </div>
                <div id="shop-crc-div" class="form-group has-feedback col-xs-3">
                    <label for="pwd">CVV<a data-toggle="tooltip" title="CVV: dígitos de seguridad en la parte posterior de tu tarjeta de débito/crédito"<i style="padding-left:5px"class="fa fa-question-circle" aria-hidden="true"></i></label></a>
                    <input name="shop-crc" type="text" min="100" max="999" class="form-control" id="shop-crc" aria-describedby="inputSuccess4Status" required onchange="cardcheck(4, self)">
                    <span id="shop-crc-icon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccess4Status" class="sr-only">(success)</span>
                </div>
                <div class="col-xs-12" style="padding-top:20px;padding-bottom:20px;">
                <button id="shop-form-btn" type="Submit" class="btn btn-success col-xs-12">
                    <span class="glyphicon glyphicon-log-in"></span> Proceed to checkout
                </button>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <h2>PayPal</h2>
                <hr>
                <div  style="text-align:center">
                    <a href="#"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal"/></a>
                    <img style="width:230px;margin-top:20px;"src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png" alt="Pay with PayPal, PayPal Credit or any major credit card" />
                </div>
            </div>
            <!-- Submit -->


        </form>
    </div>

     <!-- Footer-->

    <footer class="footer" style="margin-top:30px">
        <div class="row row-mod" align="center">
          <div class="col-lg-4" style="margin-top:0px">
            <a href="#"><img style="width:150px; padding-bottom:10px" src="{{ url_for('static', filename='img/entradascomlogo.png') }}"> </a>
          </div>
          <div class="col-lg-4" style="margin-top:10px; padding-bottom:10px">
            <div style="display:inline-block; padding-left:10px; padding-right:10px; vertical-align:middle">
              <a href="#" style="color:black"> <i class="fa fa-facebook-square fa-3x"></i></a>
            </div>
            <div style="display:inline-block; padding-left:10px; padding-right:10px; vertical-align:middle">
                <a href="#" style="color:black"> <i class="fa fa-google-plus-square fa-3x"></i></a>
            </div>
            <div style="display:inline-block; padding-left:10px; padding-right:10px; vertical-align:middle">
                <a href="#" style="color:black"> <i class="fa fa-twitter-square fa-3x"></i></a>
            </div>
          </div>
            <ul class='col-lg-4' style="list-style-type:none;margin:0;padding:0;">
                <li class="footitem"><a href="#" style="color:black"> Condiciones de uso</a></li>
                <li class="footitem"><a href="#" style="color:black"> Política de privacidad</a></li>
            </ul>
            <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> in Leganés</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- UIkit -->
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/sticky.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/slideshow.min.js') }}"></script>

    <!-- own JavaScript -->
    <script src="{{ url_for('static', filename='js/entradas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/searchbar-transparent.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
    </script>
</body>

</html>
