<!DOCTYPE html>
<html lang="es">

<html>
<head>
    <title>Entradas.com - {{ query }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- uikit CSS -->
    <link href="{{ url_for('static', filename='css/uikit/uikit.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/uikit/uk-flex.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/components/datepicker.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/components/slideshow.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/custom/global.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom/searchbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom/navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom/header-carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom/footer.css') }}" rel="stylesheet">\
    <link href="{{ url_for('static', filename='css/custom/shop.css') }}" rel="stylesheet">

</head>


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top main-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.index')}}">
                    <img class="brand-logo img-responsive" alt="Brand" src="{{ url_for('static', filename='img/entradascomlogo.png') }}">
                </a>
                <a href="{{ url_for('auth.signup') }}" style="color:black">
                <button type="button" class="navbar-toggle btn btn-yellow navbar-btn last-navbar-item login-option mobile">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
                </a>
                <button type="button" class="navbar-toggle btn btn-yellow navbar-btn last-navbar-item logged sign-out mobile">
                    <span class="glyphicon glyphicon-off">
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right">

                <!-- Sign up/in button -->

                <li>
                    <!-- Trigger the modal with a button -->

                    <button type="button" class="btn btn-yellow navbar-btn last-navbar-item login-option desktop">
                        <a style="text-decoration:none;color:black" href="{{ url_for('auth.signup') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Entrar</a>
                    </button>

                </li>

                <!-- Exit button -->

                <li><p class="navbar-text navbar-right navbar-item logged desktop" style="color: white">¡Hola, <a id="user-name-link" href="#" class="navbar-link" style="color: white"></a>!</p></li>
                <li>
                    <button type="button" class="btn btn-yellow navbar-btn last-navbar-item logged sign-out desktop">
                        <span class="glyphicon glyphicon-off"></span>Salir
                    </button>
                </li>
            </ul>

        </div>
    </nav>

    <!-- Search bar -->

    <form id="search-bar" action="{{ url_for('search.search') }}" type="search" method="post" name="Search">
        <div class="search-container container input-group">
            <div class="input-group-btn">
                <button id="dropbtn" type="button" class="btn btn-default dropdown-toggle searchbtn drop-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-question fa-lg fa-fw" aria-hidden="true"></i> <span class="caret"></span></button>
                <ul class="dropdown-menu search-dropdown-menu">
                    <li><a href="#" onclick="dropdown(1);"><i class="fa fa-ticket fa-lg fa-fw"></i> Cine </a></li>
                    <li><a href="#" onclick="dropdown(2);"><img src="{{ url_for('static', filename='img/theater.png') }}" style="width:18px"> &nbsp; Teatro </a></li>
                    <li><a href="#" onclick="dropdown(3);"><i class="fa fa-music fa-lg fa-fw"></i> Conciertos </a></li>
                    <li><a href="#" onclick="dropdown(4);"><i class="fa fa-university fa-lg fa-fw"></i> Exposiciones/Museos </a></li>
                    <li><a href="#" onclick="dropdown(5);"><i class="fa fa-futbol-o fa-lg fa-fw"></i> Deportes </a></li>
                    <li><a href="#" onclick="dropdown(6);"><i class="fa fa-magic fa-lg fa-fw" aria-hidden="true"></i> Shows/Espectáculos </a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" onclick="dropdown(0);"><i class="fa fa-globe fa-lg fa-fw"></i> Todas las categorías</a></li>
                </ul>
            </div>
            <input id="search-input-text" name="query" type="text" class="form-control searchbar searchbar-text search-input-text" placeholder="Busca espectáculos aquí" aria-label="search-terms" onkeydown="setDefaultDrop()" method="post">
            <div class="input-group-btn">
                <button id="searchnow" class="btn btn-default searchbtn sendsearchbtn search-now" type="Submit" href="{{ url_for('search.search') }}">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Header Carousel -->

    <div id="header-carousel">
        <ul class="uk-slideshow" data-uk-slideshow="{autoplay:true, animation: 'random-fx', kenburns:true}">
            <li><img src="https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=698b0decc7115d06b16801d7b8291c63" width="" height="" alt=""></li>
            <li><img src="http://cdn.paper4pc.com/images/entertainment-music-violin-musical-instrument-strings-wood-people-orchestra-wallpaper-1.jpg" width="" height="" alt=""></li>
            <li><img src="http://i.imgur.com/yny7x.jpg" width="" height="" alt=""></li>
        </ul>
    </div>

    <!-- Shop process -->

    <form class="uk-form uk-form-horizontal" action="index.html" method="post">

        <!-- Session date -->

        <div class="uk-form-row">
            <label class="uk-form-label" for="session-date">Selecciona tu método de pago</label>
            <div class="uk-form-controls">
                <input id="session-date" type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}" placeholder="¿Qué sesión quieres?" aria-describedby="basic-addon1">
            </div>
        </div>

        <!-- Seats selection -->

        <label for="seat-select">Selecciona tu titio</label>
        <ul id="seat-select" class="uk-grid" data-uk-grid-margin>
            <li id="section-bl" onclick="selectSection(0);" class="seat-section side-section uk-width-1-5"> </li>
            <li id="section-bm" onclick="selectSection(1);" class="seat-section mid-section uk-width-3-5">  </li>
            <li id="section-br" onclick="selectSection(2);" class="seat-section side-section uk-width-1-5"> </li>
            <li id="section-mm" onclick="selectSection(3);" class="seat-section mid-section uk-width-3-5">  </li>
            <li id="section-fm" onclick="selectSection(4);" class="seat-section mid-section uk-width-3-5">  </li>
            <li id="screen" class="uk-width-medium-1-1"></li>
        </ul>

        <!-- Payment -->

        <fieldset>
            <div class="uk-form-row">
                <label class="uk-form-label" for="payment">Selecciona tu método de pago</label>
                <div class="uk-form-controls">
                    <input id="paypal-radio" type="radio" name="payment" value="">
                    <label for="paypal-radio">PayPal</label>
                    <input id="card-radio" type="radio" name="payment" value="">
                    <label for="card-radio">Tarjeta de Crédito</label>
                </div>
            </div>

            <legend>Datos de Tarjeta</legend>
            <div class="uk-form-row"><input id="cardholder-input" class="uk-form-width-large" type="text" name="cardholder" placeholder="Nombre Apellidos"></div>
            <div class="uk-form-row"><input id="cardnum-input" class="uk-form-width-large" type="text" name="cardnum" placeholder="1234 1234 1234 1234"></div>
            <div class="uk-form-row"><input id="cardexp-input" class="uk-form-width-small" type="text" data-uk-datepicker="{format:'MM.YYYY'}" placeholder="Click para seleccionar" aria-describedby="basic-addon1"></div>
            <div class="uk-form-row"><input id="cardsecret-input" class="uk-form-width-mini" type="text" name="cardnum" placeholder="123"></div>
        </fieldset>

        <!-- Pager -->

        <nav>
            <ul class="pager">
                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Paso anterior</a></li>
                <li class="next"><a href="#">Paso siguiente <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>

        <!-- Submit -->


    </form>

    <!-- Footer -->

    <footer class="footer" style="margin-top:30px">
        <div class="row row-mod" align="center">
          <div class="col-lg-4" style="margin-top:0px">
            <a href="#"><img style="width:150px; padding-bottom:10px" src="{{ url_for('static', filename='img/entradascomlogo.png') }}"> </a>
          </div>
          <div class="col-lg-4" style="margin-top:10px; padding-bottom:10px">
            <div style="display:inline-block; padding-left:10px; padding-right:10px; vertical-align:middle">
              <a href="#" style="color:black"> <i class="fa fa-facebook-square fa-3x"></i></a>
            </div>
            <div style="display:inline-block; padding-left:10px; padding-right:10px; vertical-align:middle">
                <a href="#" style="color:black"> <i class="fa fa-google-plus-square fa-3x"></i></a>
            </div>
            <div style="display:inline-block; padding-left:10px; padding-right:10px; vertical-align:middle">
                <a href="#" style="color:black"> <i class="fa fa-twitter-square fa-3x"></i></a>
            </div>
          </div>
            <ul class='col-lg-4' style="list-style-type:none;margin:0;padding:0;">
                <li class="footitem"><a href="#" style="color:black"> Condiciones de uso</a></li>
                <li class="footitem"><a href="#" style="color:black"> Política de privacidad</a></li>
            </ul>
            <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> in Leganés</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- UIkit -->
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/sticky.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/slideshow.min.js') }}"></script>

    <!-- own JavaScript -->
    <script src="{{ url_for('static', filename='js/entradas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/searchbar-transparent.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>

</body>

</html>
